//out :"../css/"


@import "./normalize.less";
@import "./base.less";

@rootSize: 37.5rem;

// @rootSize: (375/100vw);

body{
    background-color: #f0f0f0;
}


// mainContent,主内容
.mainContent{
    //37.5 就是se的根字号
  position: relative;  
  padding-bottom: (50/@rootSize);
  .banner{
    .banner-img{
        li {
            height: (160/@rootSize);
            width: 100%;
        }
    }
  }

  .banner-cic {
    display: flex;
    position: absolute;
    bottom: 0;
    top: (140/@rootSize);
    left: (325/2/@rootSize);
    height: (5/@rootSize);

    li {
        margin-right:  (10/@rootSize);
        a{
            display: block;
            height: (10/@rootSize);
            width:  (10/@rootSize);
            background-color: red;
            &:hover{
                background-color: green;
            }
        }
        
    }
  }

//   
  .title{
    height: (40/@rootSize);
    line-height: (40/@rootSize);
    padding-left: (15/@rootSize); 
    h4{
        font-size: (14/@rootSize);
        color: #3c3c3c;
    }
  }
  //
  .item{
    margin-bottom: (10/@rootSize);
    ul{
        display: flex;
        flex-direction: column;
        //主内容卡片列表
        li{
            margin-bottom: (5/@rootSize);
            .pic{
                position: relative;
                height: (160/@rootSize);
                // 收藏标签
                .favicon{
                    position: absolute;
                    top:(15/@rootSize);
                    right: (18/@rootSize);
                    font-size: (24/@rootSize);
                    color: #fff;


                }
                //活动区域
                .active {
                    width: (68/@rootSize);
                    height: (29/@rootSize);
                    position: absolute;
                    top:(-4/@rootSize);
                    left: (15/@rootSize);
                    background-image: url("../images/status_active.png");
                    background-size: contain;
                    font-size: (12/@rootSize);
                    color: #fff;
                    text-align: center;
                    line-height: (25/@rootSize);
                    &.stop {
                        background-image: url("../images/status_default.png");
                    }
                }
               
            }
            .txt{
                background-color: #fff;
                padding: (10/@rootSize) (15/@rootSize);
                .top{
                    display: flex;
                    justify-content: space-between;
                    h5{
                        font-size: (15/@rootSize);
                        font-weight: 400;
                        width: (290/@rootSize);

                    }
                    p{
                        font-size: (12/@rootSize);
                        
                        color: red;
                    }
                }
                .bottom{
                    display: flex;
                    font-size: (11/@rootSize);
                    margin-top: (10/@rootSize);
                    p{
                        i{
                            margin-right: (4/@rootSize);
                        }
                        margin-right: (15/@rootSize);
                        color: #ccc;  
                    }
                }
            }

        }
    }
   
  }

  
}


//footer工具栏
footer{
    height: (50/@rootSize);
    width: 100%;
    background-color: #FECa49;
    position: fixed;
    left: 0;
    bottom: 0;
    ul {
        display: flex;
        li{
            width: 100%;
            height: (50/@rootSize);
            a{
                margin: 0 auto;
                height: (50/@rootSize);
                width: (70/@rootSize);
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                font-size: (12/@rootSize);

                i{
                    font-size: (22/@rootSize);
                }
                p{
                    margin-top: (6/@rootSize);;
                }
                color: #fff;
                &.current{
                    color: red;
                }

                
            }
            a:hover{
                background-color: green;
            }

        }
    }

}
