body {
    font: 12px "Lucida Grande", Arial, sans-serif;
    color: rgb(50, 50, 50);
    margin: 0;
    padding: 15px;
}
div {
    padding: 5px;
    border: 1px dashed black;
    background: orange;
    margin: 5px 0;
}
div p {
    margin: 5px;
}