<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
    <script src="../vue274.js"></script>

</head>
<body>

    <div id="app">
        <label>请输入:</label>
        <input type="text" v-model="inputValueX" name="inputValueX">
        <input type="text" v-model="inputValueY" name="inputValueY">
        <input type="button" v-on:click="calResult" value="计算">
        
        <p>{{result}}</p>
        <p style="color: red;">{{msg}}</p>
        <p v-text="price"></p>
        <Mycomp></Mycomp>
        
        <depcom></depcom>

    </div>
    
    <script>
        //判断是否数字
        function isNotNum(value){
            return isNaN(value) || !isFinite(value);
        };

        //全局组件
        Vue.component('Mycomp',{
            template:`<h1>this is 2</h1>`,
            //组件中的data,必须是一个函数，而不能是一个对像,必须要返回对像； 
            data(){
             return {}
            }
        })

        //局部组件
        const depCom = {
            template:`<h1>this is 局部组件1</h1>`,
            data(){
             return {}
            }
        }
        const vm= new Vue({
            el:"#app",
            
            data:{
                inputValueX: 0,
                inputValueY: 0,
                result : 0,
                msg:""
  
            },
            //局部组件命字要小写
            components:{
                'depcom':depCom,
            },
            methods: {
                calResult:function() {

                    if (isNotNum(this.inputValueX) || isNotNum(this.inputValueY)) {
                       this.msg = "不是有效的数字";
                       this.result = 0;
                       return;
                    }
                    this.result = parseFloat(this.inputValueX) +  parseFloat(this.inputValueY);
                    this.msg = "";
        
                }
            },
            computed:{
                price:function (){
                    return parseFloat(this.inputValueX)+1;

                },
            },
            //  过滤器
            filters:{
                genderFilter(val){
                    return 'good'
                }
            }

        });

        vm.$mount();
    </script>
</body>
</html>